/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.text-left{
    text-align:left !important;
}
/*
.listitem::before {
    content: "\2022";
}
    */
@font-face {
    font-family: 'Sahel';
    src: url(./fonts/Sahel.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body{
    font-family: Sahel;
}

ul.ltrbullets {
    /* flex-direction: row; */
    flex-wrap: wrap;
    display: flex;
    /* height: 100vh; */
    direction: ltr;
    column-count: 3;
}

.ltrbullets li a{
    padding-left:5px;
}

.ltrbullets li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
