@model string[]

@if (Model != null)
{
    <div class="text-center col-12">
        <h1 class="display-4">حوزه‌ها</h1>
    </div>
    <div class='row'>
        @foreach (var scope in Model)
        {
            <div class='listitem col-lg-4 col-md-4 col-sm-4'>
                <a href=@("scope/" + scope)>@scope</a>
            </div>
        }
    </div>
}